* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #ffd8de;
}

/* FIRST PAGE */
.first-page {
  position: relative;
}
.bg {
  width: 100%;
  height: 102vh;
  object-fit: cover;
  position: relative;
}
.text {
  position: absolute;
  top: 0;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.cube {
  font-size: 5rem;
  margin-bottom: 6rem;
}
.text h1 {
  font-size: 6rem;
}
.text p {
  font-size: 1rem;
  margin-top: 1.5rem;
  font-weight: bold;
  letter-spacing: 25px;
  color: rgb(204, 204, 204);
}

/* SECOND PAGE */
.second-page {
  width: 100%;
  background-color: rgb(19, 19, 19);
  height: 102vh;
  margin-top: -0.3rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.baby {
  width: 25rem;
}
.sticker {
  width: 8rem;
  margin-bottom: 1rem;
}

.header {
  font-size: 4rem;
  margin-bottom: 25px;
}

.first {
  line-height: 2rem;
  font-size: 1.6rem;
  padding-right: 2rem;
}
.company {
  display: flex;
  flex-direction: column;
}

.company button {
  position: relative;
  width: 20rem;
  height: 4.5rem;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  background-color: #ffb4bf;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  cursor: grab;
  margin-top: 3rem;
  border-style: double;
  border-width: 0.5rem;
  align-self: center;
}

.company button::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "ESPERAME";
  transition: all 0.5s;
}

.company button::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  content: "POR FAVOR";
  transition: all 0.5s;
}

.company button:hover::before {
  top: -60px;
}
.company button:hover::after {
  top: 0;
}

/* THIRD PAGE */
.third-page {
  background-color: #ffdbe0;
  height: 102vh;
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5rem;
}

.flowers {
  width: 25rem;
}
.box {
  color: rgb(32, 32, 32);
  text-align: right;
  margin-top: 3rem;
}

.icon {
  font-size: 4rem;
  margin-top: 1.4rem;
  margin-bottom: 10rem;
  cursor: grab;
  position: relative;
  display: inline-block;
  height: 100px;
}
.tooltip {
  background-color: #f7f7f7;
  padding: 1rem;
  opacity: 0;
  transition: 0.5s;
  box-shadow: 1px 1px 10px 6px #e6bfbf;
}
.caption {
  font-size: 0.5rem;
  font-weight: bold;
  color: #f79faa;
  letter-spacing: 1px;
  text-align: center;
}
.icon:hover .tooltip {
  opacity: 1;
  transform: translateY(-10px);
}
.tooltips {
  position: absolute;
  top: 1rem;
  right: 6rem;
  display: flex;
  gap: 2rem;
  pointer-events: none;
  cursor: grab;
}

/* FOURTH PAGE */
.fourth-page {
  background-color: rgb(19, 19, 19);
  height: 102vh;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.sunflower {
  width: 25rem;
}

.text-container {
  color: rgb(255, 194, 82);
  position: relative;
}
.gif-container {
  gap: 2rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  position: relative;
}
.button {
  padding-left: 2rem;
  padding-right: 2rem;
  color: black;
  background-color: rgb(255, 194, 82);
  letter-spacing: 2px;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  border-style: double;
  border-width: 8px;
  font-size: 0.8rem;
  font-weight: 700;
  position: relative;
  cursor: grab;
  transition: 0.3s;
}
.hover .tool {
  position: absolute;
  top: -2rem;
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
  background-color: rgb(255, 194, 82);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 2px rgb(102, 74, 17) inset;
}
.hover:hover .tool {
  opacity: 1;
}

/* FIFTH PAGE */
.fifth-page {
  background-color: #ffdbe0;
  height: 102vh;
  position: relative;
  display: flex;
  align-items: center;
}
.love-container {
  color: rgb(24, 24, 24);
  margin-left: 3.5rem;
  margin-bottom: 25rem;
}
.love-container h1 {
  font-size: 4em;
}
.love-container p {
  font-size: 1.4rem;
}
.pic-container {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  gap: 2rem;
}

.one img {
  width: 9rem;
  border-radius: 0.4rem;
  cursor: grab;
}
.two img {
  width: 25rem;
  border-radius: 5px;
  object-fit: contain;
  cursor: grab;
}
.three img {
  border-radius: 0.4rem;
  width: 10rem;
  cursor: grab;
}
.two {
  align-self: center;
}

.one,
.two,
.three {
  background-color: #f7f7f7;
  padding: 1.2rem;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 5px 5px #f0d7d7;
  transition: 0.3s;
  position: relative;
  cursor: grab;
}
.one,
.three {
  padding-bottom: 2.7rem;
}
.one:hover,
.two:hover,
.three:hover {
  box-shadow: 1px 1px 5px 5px #d4b6b6;
  transform: translateY(-15px);
}

.tag {
  position: absolute;
  background-color: #f7f7f7;
}
.a {
  top: -50px;
  right: 47px;
  color: #f7a8a8;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.4s;
}
.b {
  top: -50px;
  right: 177px;
  color: #f7a8a8;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.4s;
}
.c {
  top: -50px;
  right: 55px;
  color: #f7a8a8;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.4s;
}

.one:hover .a,
.two:hover .b,
.three:hover .c {
  box-shadow: 1px 1px 5px 5px #e0c7c7;
  opacity: 1;
}

@media (max-width: 1250px) {
  .gif-container {
    gap: 2.5rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
  }
  .button {
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline-block;
    background-color: rgb(255, 194, 82);
    font-size: 0.7rem;
  }
}

@media (max-width: 1010px) {
  .pic-container {
    position: absolute;
    width: 100%;
    bottom: 3rem;
    right: 0;
    justify-content: center;

    display: flex;
    gap: 2rem;
  }
}

@media (max-width: 1250px) {
  .header {
    font-size: 2.5rem;
  }
  .first {
    font-size: 1.2rem;
  }
}

@media (max-width: 910px) {
  .one img {
    width: 12vw;
    padding-bottom: 0;
  }
  .two img {
    width: 25vw;
  }
  .three img {
    width: 13vw;
    padding-bottom: 0;
  }
  .one,
  .three {
    padding-bottom: 1rem;
  }
}
.redirect-button {
  position: relative;
  width: 20rem; /* Ajusta el ancho según necesites */
  height: 4.5rem; /* Ajusta la altura según necesites */
  overflow: hidden;
  border: 2px solid black; /* Borde negro */
  background-color: #ffb4bf; /* Color de fondo rosa */
  color: black; /* Color del texto */
  font-weight: bold;
  font-size: 1.1rem; /* Tamaño de la fuente */
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  margin: 2rem auto; /* Centra el botón horizontalmente */
  border-radius: 10px; /* Bordes redondeados */
  transition: background 0.3s; /* Para una transición suave al pasar el mouse */
  margin-bottom: -1000px;
  left: -1240px;
}


.redirect-button:hover {
  background: rgba(247, 154, 154, 0.3); /* Fondo rosado claro al pasar el mouse */
}

.redirect-button::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "Toocame";
  transition: all 0.5s;
}

.redirect-button::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px; /* Ajusta la posición según sea necesario */
  left: 0;
  width: 100%;
  height: 100%;
  content: "despacio me duele";
  transition: all 0.5s;
}

.redirect-button:hover::before {
  top: -60px; /* Mueve hacia arriba al pasar el mouse */
}

.redirect-button:hover::after {
  top: 0; /* Muestra el segundo texto al pasar el mouse */
}
